@font-face {
  font-family: 'Lacquer';
  src: local('Lacquer'), ur;(./fonts/Lacquer-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Agra Axera';
  src: local('Agra Axera'), ur;(./fonts/Agra_Axera.ttf) format('truetype');
}

@import url(//db.onlinewebfonts.com/c/753df9f760c45488a883d41db0953dc3?family=Agra+Axera);

* {
    box-sizing: border-box;
}

@font-face {font-family: "Agra Axera"; src: url("//db.onlinewebfonts.com/t/753df9f760c45488a883d41db0953dc3.eot"); src: url("//db.onlinewebfonts.com/t/753df9f760c45488a883d41db0953dc3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/753df9f760c45488a883d41db0953dc3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/753df9f760c45488a883d41db0953dc3.woff") format("woff"), url("//db.onlinewebfonts.com/t/753df9f760c45488a883d41db0953dc3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/753df9f760c45488a883d41db0953dc3.svg#Agra Axera") format("svg"); }

video {
  width: 100%;
  left: 0;
  top: 0;
  position:fixed;
  z-index: -100;
}

.video-react-control-bar {
  display: none;
}

.video-react-big-play-button {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link{
  text-decoration: none;
  color: black;
}

li {
  display: inline;
  margin: 8px;
  color: black;
}

a:visited { text-decoration: none; color:black }

header > ul > li > a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 1px #1eb0ab;
}

.socials > ul > li > a:hover {
  color: white;
  background-color: #1eb0ab;
}

.platforms > ul > li > a:hover {
  color: white;
  background-color: #1eb0ab;
}


li:hover {
    /* background-color: #1eb0ab; */
}

body {
    margin: 0;
    background-color: whitesmoke;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: block;
    align-items: center;
    text-align: center;
}

header > ul {
    font-family: 'lacquer', sans-serif;
    font-size: 22px;
}

header > p {
    font-family: 'Agra Axera', sans-serif;
    text-align: center;
    color: #1eb0ab;
    font-size: 100px;
    margin: 50px;
    letter-spacing: 10px;
}

footer {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.socials {
  float: left;
}

.platforms {
  float: right;
}
